body {
  max-width: 860px;
  min-width: 320px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

li {
  height: 20vh;
  flex-grow: 1;
  margin: 5px;
  position: relative;
}

li:last-child {
  flex-grow: 10;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

li .img__close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  right: 5px;
  z-index: 100;
  background-color: red;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
li .img__close:hover {
  transform: scale(1.2);
}

.dropzone {
  padding: 50px;
  border: 2px dashed #060;
}

.dropzone.is-dragover {
  background-color: #e6ecef;
}

.dragover {
  background-color: red;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-right: 10px;
}

button {
  background-color: #686868;
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 8px;
}

.update-pictrue-by-link {
  align-items: flex-end;
  justify-content: space-around;
  display: flex;
  max-width: 60%;
  margin-left: 10vw;
}

.update-pictrue-by-file {
  align-items: flex-end;
  justify-content: space-around;
  display: flex;
  max-width: 60%;
  margin-left: 10vw;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}
.preloader p {
  display: flex;
  justify-content: center;
}

.preloader__icon {
  position: fixed;
  left: 40vw;
  min-width: 160px;
}

#file-upload-form__input {
  display: none;
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 40vh;
  }
}
@media (max-height: 480px) {
  li {
    height: 40vh;
  }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 40vh;
    min-width: 0;
  }

  .preloader img {
    width: 0;
    min-width: 60px;
  }
}